$border : 2px solid #eee ;

.table {
    width: 90%;
    font-size: 0.75rem;
    border: none;
    
    thead tr td{ 
        padding: 5px;
        text-align: left !important;
        border-top: $border;
        border-bottom: $border;
    }

    tbody tr td {
        padding: 5px;
        text-align: left !important;
        border-bottom: $border;
    }

    .delete-button {
        float: left;
        border: 0;
        background: transparent;
        text-align: center;
        padding: 1px 6px 1px 6px;
    
        &:hover {
            cursor: pointer;  
          }
        &:focus {
            outline: none;
        }
    }
    
    .delete-button > img,
    .delete-button > span {
      vertical-align: middle;
    }
}   