.personalDetails {
    width: 100%;
    margin: auto;
    
    // .form {
    //     display: grid;
    //     grid-template-columns: repeat(2, 1fr);
    //     grid-gap: 10px;
    // }
    .form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
        align-items: 'flex-start'     
    }

}

.row {
    display: flex;
    flex-direction: row;
    
    .detailsDiv {
        flex: 2;
        padding: 10px;
    }

    .profileImageDiv {
        flex: 1;
        padding: 10px;
    }
}
