.personalDetails {

    width: 80%;
    margin: auto;

    .title {
        border-bottom: 1px solid #eee;
    }

    .row {
        display: flex;

        .column {
            flex: 50%;
            padding: 10px;
        }
    }
}
