.personalDetails {
    width: 100%;
    margin: auto;
    
    .form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

}

.row {
    display: flex;

    .detailsDiv {
        flex: 70%;
        padding: 10px;
    }

    .profileImageDiv {
        flex: 30%;
        padding: 10px;
    }
}
