.attach-container {
    width: 100%;
    padding-bottom: 25px;

    .form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex: 1;
        padding: 10px;

        .text-input{
            width: 100% !important
        }

        .is-danger{
            color: #ff3860;
            display: block;
            font-size: 0.75rem;
            margin: 0.25rem;
        }

        .file-upload {
            padding-bottom: 20px;
            
            .label-upload {
                background-color: #41b4b4;
                border: none;
                color: #fff;
                padding: 8px 15px;
                font-size: 0.75rem;
                font-weight: bold;
                border-radius: 10px;
                cursor: pointer;
            }      
            
            .span-file-name {
                float: right;
                padding-left: 20px;
            }
        }
    }
    
    .form-bottom{
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .file-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex: 1;
        padding: 10px;

        .file-title{
            width: 60%;
        }
        
        .other-div {
           float : right;
           padding: 10px;
           color: #41b4b4;
           font-weight: bold;
           cursor: pointer;
        }
    }
}